html,
body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

header {
    text-align: center;
}

.row {
    display: flex;
    margin: 5%;
    flex-wrap: wrap;
}

.column {
    flex: 25%;
}

#item {
    border-radius: 5px;
    border: 0.5px solid black;
    margin: 10px;
    height: 300px;
}

@media all and (max-width: 800px) {
    .column {
        flex: 50%;
    }
}

@media all and (max-width: 600px) {
    .column {
        flex: 100%;
    }
}
